:root{
  --primary: #0E0B2A;
  --shades: #9691B8;
  --shades2: #CAC4ED;
  --secondary: #FFFADE;
}

body {
  background-color: #0E0B2A;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  position: relative;
}

.btn-burger{
  display: none;
}

.btn-burger-close{
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.navBar {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 32px;
}
.cv {
  cursor: pointer;
  background-color: #6B5C9E;
  border: none;
  border-radius: 8px;
  height: 30px;
  width: 60px;
  text-align: center;
  color: #FFFFFF;
}

.anc {
  color: inherit;
  text-decoration: none;
}

.anc:visited{
  background-color: transparent
}

.hover:hover{
  color: var(--secondary);
  transition: 1s;
  scale: 1.2;
  cursor: pointer;
}

.btn-burger{
  display: none;
}

.bannerMe{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: stretch;
    margin-top: 32px;
    margin-left: 64px;
    margin-right: 64px;

  .my-img{
    height: 300px;
    width: 300px;
    background-image: url(../../public/img/portafolio-yo.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 10%;

    box-shadow: #0503174d 0px 19px 38px, #05031738 0px 15px 12px;
  }

  .aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    > p {
      margin: 0;
      margin-bottom: 8px;
      font-size: 1.1em;
    }
  }


}

.my{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;

  > h1 {
    color: var(--secondary);
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
    font-family: monospace;
  }

  > h3 {
    color: #6B5C9E;
    margin: 0;
    font-size: 25px;
    font-weight: lighterM;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: monospace;
  }

}

.skills{
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 36px;

  .skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    justify-items: center;
    margin-left: 32px;
    margin-right: 32px;
    font-family: monospace;
    font-size: 20px;
   

    > div {
      height: 150px;
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      >h3 {
        margin: 0;
        color: var(--secondary);
      }

      > ul {
        padding: 0;
        list-style: circle;
        margin-left: 20px;
      }

    }

  }

  > h1 {
    color: var(--secondary);
    font-weight: bold;
    font-size: 40px;
    font-family: monospace;
  }

}

.proyects.appear {
  opacity: 1;
  transform: translateX(0);
}

.fix{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  > h1 {
    color: var(--secondary);
    font-weight: bold;
    font-size: 40px;
    font-family: monospace;
  }
}

.proyects{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 

  .card-proyect{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-right: 32px;
    margin-left: 32px;
    background-color: #373555;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;

    .img-proyect{
      width: 200px;
      height: 200px;
      border-radius: 5%;
    }

    .card-proyect-img{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

    }

    .card-proyect-content{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 200px;

      > div {
        
        > h3 {
          color: var(--secondary);
          font-weight: bold;
          font-size: 20px;
          font-family: monospace;
          margin: 0;
        }
      }

      .tecnologies{
        display: flex;
        align-items: center;
        gap: 15px;
      }


    }
  }
}

.contact-head{
  display: flex;
  justify-content: center;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 16px;

  >h1{
    margin: 0;
    color: var(--secondary);
    font-weight: bold;
    font-size: 40px;
    font-family: monospace;
  }
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 100px;

  .form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #373555;
    border-radius: 8px;
    padding: 32px;
    width: 600px;

    > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      font-family: monospace;

      > label {
        margin-bottom: 4px;
        font-size: 18px;
      }

      > input {
        padding: 6px;
        font-size: 15px;
        border-radius: 8px;
        outline: none;
        border: none;
        background-color: var(--shades2);
        color: var(--secondary);
      }

      .input-text{
        height: 150px;
        font-size: 15px;
        border-radius: 8px;
        background-color: var(--shades2);
        color: var(--secondary);
        resize: none;
        outline: none;
        border: none;
        padding: 6px;
      }

      .error{
        color: red;
        font-weight: lighter;
        margin-top: 3px;
        font-size: small;
      }
    }

    #send{
      background-color: #9aaaff;
      font-size: 15px;
      color: var(--secondary);
      border: none;
      border-radius: 8px;
      padding: 6px;
      cursor: pointer;
    }
  }


}
.contact-details{
  margin-bottom: 16px;

  > div {
    display: flex;
    gap: 8px;
    outline: none;
    align-items: center;

    > button {
      width: fit-content;
      cursor: pointer;
      height: fit-content;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
    }

    .gh{

      position: relative;

      .blank{
        position: absolute;
        left: 5px;
        top: 2px;
        border-radius: 100%;
        width: 30px;
        height: 38px;
        background-color: #FFFFFF;
        z-index: -1;
      }
    }

  }
}
.confilct{
  background-color: red;
}

footer{
  display: block;
  border-top: 1px solid #373555;
  position: relative;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;

  > h4{
    position: absolute;
    top: -30px;
    width: fit-content;
    background-color: #0E0B2A;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-size: 15px;
    font-family: monospace;
    color: var(--secondary);
  }
}

@media only screen and (max-width: 767px) {
    .bannerMe{
      display: flex;
      flex-direction: column;
      margin-left: 32px;
      margin-right: 32px;
    }

    #my-img{
      display: none;
    }

    .my{
        
      >h1{
        font-size: 35px;
      }

    }

    .btn-burger{
      display: block;
      position: relative;
      left: 32px;
      top: 20px;
      z-index: 10;
      border: none;
      background-color: transparent;
    }

    .btn-burger-close{
      display: none;
      position: relative;
      left: 32px;
      top: 20px;
      z-index: 10;
      border: none;
      background-color: transparent;
    }

    .header{
      top: -32px;
      position: absolute;
      width: 40%;
      height: 100%;
      background-color: var(--primary);
      z-index: 5;
      display: none;
    }

    .navBar{
      flex-direction: column;
      z-index: 6;
      position: absolute;
      top: 96px;
      left: -32px;
      gap: 40px;
    }

    .cv{
      width: fit-content;
      padding-left: 32px;
      padding-right: 32px;
      text-align: center;
      color: #FFFFFF;
    }

    .barra{
      display: none
    }

    .overlay{
      position: absolute;
      top: -32px;
      width: 100vw;
      height: 100%;
      background-color: #000000c3;
      display: none;
    }

    .skills{

      .skills-content{
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        
        .skills-card{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        
      }
    }

    

      .card-proyect{
        height: 100vw;
      }
        .card-proyect-img{
          display: none;
        }
      
    

    .form-content{
      display: flex;
      justify-content: center;
    }

    .form{
      width: 300px;
    }
    

    footer{
      >h4{
        top: -28px;
      }
    }
}