:root{
  --primary: #0E0B2A;
  --shades: #9691B8;
  --shades2: #CAC4ED;
  --secondary: #FFFADE;
}

body {
  background-color: #0E0B2A;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  .navBar {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin: 32px;

    > a {
      color: inherit;
      text-decoration: none;
    }

    > a:visited{
      background-color: transparent
    }

    > li {
      cursor: pointer;

    }
    
    > button {
      cursor: pointer;
      background-color: #6B5C9E;
      border: none;
      border-radius: 8px;
      height: 30px;
      width: 60px;
      text-align: center;
    }
    .hover:hover{
      color: var(--secondary);
      transition: 1s;
      scale: 1.2;
      cursor: pointer;
    }
  }
}

.bannerMe{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: stretch;
    margin-top: 32px;
    margin-left: 64px;
    margin-right: 64px;

  .my-img{
    height: 300px;
    width: 300px;
    background-image: url(../../public/yo.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 50%;

    box-shadow: #9691B84d 0px 19px 38px, #9691B838 0px 15px 12px;
  }

  .aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    > p {
      margin: 0;
      margin-bottom: 8px;
      font-size: 1.1em;
    }
  }


}

.my{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: start;

  > h1 {
    color: var(--secondary);
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
    font-family: monospace;
  }

  > h3 {
    color: #6B5C9E;
    margin: 0;
    font-size: 25px;
    font-weight: lighterM;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: monospace;
  }

}

.skills{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 96px;

  .card-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #373555;
    padding: 10px;
    border-radius: 8px;
    gap: 8px;
    width: 130px;
    
    > h4 {
      margin: 0;
      padding: 0;
    }
  }

  .skills-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 32px;
    margin-right: 32px;
  }

  > h1 {
    color: var(--secondary);
    font-weight: bold;
    font-size: 40px;
    font-family: monospace;
  }

}